.scene {
  
    width: 50%;
    margin: 2% 4% 2% 0;
    float: center;
    margin: auto ;
    perspective: 600px;
    margin: autocenter;
  }

  .card {
   
    display: block;
  margin: auto;
  width: 250%;
    float: center;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    border-radius: 0;
    margin: auto;
  }

  .card__img {
    display: block;
  margin: auto;
  width: 50%;
    position: absolute;
    width: 44%;
    margin: 2% 4% 2% 0;
    float: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s;
    object-fit: contain;
    margin: auto;
  }

  .card__img--front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .card__img--back {
    transform: rotateY(180deg);
  }

  .card:hover .card__img--front {
    transform: rotateY(-180deg);
  }

  .card:hover .card__img--back {
    transform: rotateY(0deg);
  }

  .container {
    position: fixed;
    display: flex;
    align-items: center;
     justify-content: space-between;
    top: 0;
    left: 0;
    right:0; 
    background-color: #000000; 
    padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 0px;
  }*/

  header#top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  z-index: 9999; 
}


  .container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 25px; 
  padding-right: 20px;
  top: 0;
    left: 0;
    right:0;
}

  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 50px;
    background-color: #000000;
  }
/*
  ul.social {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

ul.social li {
  list-style: none;
  margin-right: 20px; /* Add some margin to the right of the social icons 
} */